*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background-blue{
    background-color: blue;
}

.height-50{
    height: 50px;
}

.hamburger{
    border: 1px solid white;
}

.height-300{
    height: 300px;
}

.background-green{
    background-color: aquamarine;
}

.img{
    background-color: blueviolet;
    height: 200px;
}