*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background-blue{
    background-color: blue;
}

.height-50{
    height: 50px;
}

.hamburger{
    border: 1px solid white;
}


.background-green{
    background-color: aquamarine;
}

.img{
    background-color: blueviolet;
    height: 200px;
}

.title{
    height: 30px;
    background-color: brown;
    border: 1px solid black;
}

.portfolio{
    height: 30px;
    background-color: darkcyan;
    border: 1px solid black;
}

.img-1{
    height: 200px;
    background-color: brown;
}

.img-2{
    height: 200px;
    background-color: blueviolet
}

.img-3{
    height: 200px;
    background-color: yellow
}

.img-4{
    height: 200px;
    background-color: violet
}
.img-5{
    height: 200px;
    background-color: green
}

.img-6{
    height: 200px;
    background-color: black
}

.about{
    height: 50px;
    background-color: lawngreen;
    border: 1px solid black;
}

.first-section{
    height: 200px;
    background-color: blue;

}

.second-section{
    height: 200px;
    background-color: red;

}

.button{
    height: 20px;
    background-color: blueviolet;
}

.contact-me{
    height: 30px;
    background-color: lightcoral;
    border: 1px solid black;
}

.name, .e-mail, .phone, .message{
    background-color: crimson;
    border: 1px solid black;
}

.button-2{
    height: 30px;
    background-color: deeppink;
}

.margin-top-100{
    margin-top: 100px;
}

.background-blue{
    background-color: rgb(27, 27, 46);
}

.location, .about-the-web, .about-freelance{
    height: 40px;
    background-color: white;
}