*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* UTILITIES  */

.border-white{
    border-color: white;
}

.font-size-15{
    font-size: 15px;
}

.font-size-20{
    font-size: 20px;
}

.display-block{
    display: block;
}

.display-flex{
    display: flex;
    justify-content: center;
}

.background-black{
    background-color: #2c3e50;
}


/* HEADER  */

header{
    height: 75px;
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
  
}

.nav-item a{
    color: white;
}


/* END HEADER  */

/* JUMBOTRON  */

.background-green{
    background-color: #1abc9c;
}

.img-jumbo img{
   width: 100%;
}

.line:after, .line:before{
    content: "";
    width: 20%;
    background-color: white;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.line-2::after, .line-2::before{
    content: "";
    width: 20%;
    background-color: black;
    height: 10px;
    display: inline-block;
    vertical-align: middle;

}




/* END JUMBOTRON  */

/* MAIN  */


.portfolio h1{
    color: #333333;
}


.img-main img {
    width: 100%;
}

.about i{
    color: white;
}


.button-position{
    display: flex;
    justify-content: center;

}

.style-button{
    background-color: #1abc9c;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
}


.width-100{
    width: 100%;
}

/* END MAIN  */

/* FOOTER  */

.background-blue{
    background-color: #3a546d;
}

.footer-link{
    text-decoration: none;
    color: #1abc9c;
}

.background-black{
    background-color: #2c3e50;
}

