*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background-blue{
    background-color: blue;
}

.height-50{
    height: 50px;
}

.hamburger{
    border: 1px solid white;
}


.background-green{
    background-color: aquamarine;
}

.img{
    background-color: blueviolet;
    height: 200px;
}

.title{
    height: 30px;
    background-color: brown;
    border: 1px solid black;
}